@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-on-hover {
  overflow: hidden;
  position: relative;
}

.rotate-on-hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px dashed white;
  transform-origin: center;
  transition: transform 0.5s;
}

.rotate-on-hover:hover:before {
  transform: rotate(45deg);
}

.rotate-on-hover:hover svg path {
  fill: #8167E6; /* Change this to the desired color */
}

/* CSS for changing specific SVG color on hover */
.rotate-on-hover:hover .color-change-on-hover path {
  fill: blue; /* Change this to the desired color */
}

.bg-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, transparent);
  background-size: 100% 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 5s, background-size 5s;
}

.expand {
  opacity: 1;
  background-size: 0% 0%;
}


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');


